.navbar-form .form-control {
	width: 50em;
}

#googleLogo{
	/*margin-left:-1em;*/
	width:90;
	height:43; 
	margin-top:-0.5em;
}
.btn-default{
	background-color: #4d90fe;
	padding-right: 1.5em;
	padding-top:0.65em;
	padding-bottom:0.65em;
	padding-left: 1.5em;
}
.panel-default {
	margin-left: 150px;
	width: 40em; 
	border: none;
}

.panel-body {
	padding: 5px;

}

.link {
	font-size: 2rem;
	color: #1a0dab;
	font-weight: 500;
}
.tinyLink {
	font-size: 1.5rem;
	color: green;
	padding: 0px;
	margin: 0px;
	font-weight: 500;
}
.summary {
	color: #808080;
	margin: 0px;
}

.timeResults {
	font-size: 1.5rem;
	color: #999999;
}

.bar2 {
	width: 100%;
	padding: 8px;
	border: none;
	margin-left: 140px;
	font-size: 1.7rem;
	color: #808080;
	word-spacing: 20px;
}

.bar2.tdchild{
	word-spacing: 1px;
}
#otherbar{
	padding-left:10%;
/*	width:100px;
	margin-top:-1em;
	background-color:#FFFFFF;
	display: inline-block;
	text-align: center;*/
}